.prize_section_content-text > h1,
.prize_section_content-text > p {
  font-family: Roboto, serif;
  font-weight: 600;
  text-transform: uppercase;
}
p.footer_prizepicks-p-a > a,
p.footer_prizepicks-p-a > a:hover {
  text-decoration: underline;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.prize_section_0HomeFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.prize_section_0Home_img > img {
  width: 230px;
}
.prize_section_0Home_btn > a {
  display: inline-block;
  margin: 0 4px;
}
.prize_section_0Home_btn > a > button {
  padding: 10px 32px;
  border-radius: 30px;
  border: 1px solid rgba(220, 220, 220, 0.39);
  outline: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat, serif;
  background: #040316;
}
.prize_section_0Home_btn > a > button.log {
  background: #6eff00;
  color: #000;
  border: 0;
}
.prize_section_0ContentArea {
  padding: 60px 0 0;
  text-align: center;
}
.prize_section_content-text > h1 {
  color: #8000ff;
  font-size: 40px;
}
.prize_section_content-text > p {
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
}
.PoI542T_l2241 {
  padding: 8px 0;
}
.Zjd450w_dP_f {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slick-dots li button:before {
  opacity: 1 !important;
  color: #d4d4d4 !important;
}
.J45L_H75_F > img {
  width: 210px;
}
.yTe54PlOZ68_cardf {
  padding: 60px 0;
}
.hg_prize_picks_card {
  padding: 30px 40px 30px 50px;
  background: #fff;
  box-shadow: #d7d7d7 0 14px 34px -7px;
  min-height: 265px;
  cursor: pointer;
  margin: 0 12px;
}
.hg_prize_picks_card:hover {
  background-color: #f0f8ff;
}
.jgrtopll4-c > h2 > img {
  width: 36px;
  position: relative;
  margin-right: 8px;
}
.jgrtopll4-c > h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  color: #000;
}
.jgrtopll4-c > p {
  font-size: 15px;
  font-weight: 400;
  color: #6a6a6a;
  margin: 0;
  padding: 8px 0 15px;
  width: 295px;
  font-family: Roboto, serif;
}
.jgrtopll4-c > a > button.prizepick_bonus_offer-btn {
  padding: 12px 24px;
  border-radius: 0.3em;
  border: 0;
  color: rgb(255 255 255);
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background: #8000ff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  outline: 0 !important;
}
.Yte74P900_kjhgaX236_cTeXt2l > h2 {
  font-family: Roboto, serif;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 8px;
  padding-top: 25px;
  font-size: 20px;
}
.gJkhe_547_img_area > p {
  font-size: 14px;
  font-weight: 500;
  color: #5f5e5e;
  margin: 0;
  padding: 8px 0 10px;
}
.Yte74P900_kjhgaX236_cTeXt2l > p, 
.Yte74P900_kjhgaX236_cTeXt2l > ul > li {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}
.Yte74P900_kjhgaX236_cTeXt2l > p {
  line-height: 26px;
  padding: 5px 0 20px;
}
.gJkhe_547_img_area.gJkhe_547_images2ukl > h2,
.gJkhe_547_img_area > h3,
.lchDE3rTh15-imDoWn > h4 {
  font-family: Roboto, serif;
  color: #000;
  font-size: 34px;
}
.wf61IpZ51_1 > h1 {
  font-family: Roboto, serif;
  color: #fff;
  font-size: 34px !important;
  padding: 40px 0px 10px 0px;
}
.Yte74P900_kjhgaX236_cTeXt2l > ul {
  padding: 5px 0 20px;
  padding-left: 2rem;
}
.Yte74P900_kjhgaX236_cTeXt2l > ul > li {
  line-height: 32px;
}
.Yte74P900_kjhgaX236_cTeXt2l > p > a,
.Yte74P900_kjhgaX236_cTeXt2l > ul > li > a,
.gJkhe_547_img_area > p > a {
  color: #ffffff !important;
}
.dXOiuX547_footer_prizepicks {
  padding: 30px 0 60px;
}
.prizepick_bonus1 {
  background-image: url("../images/prize-b-01.jpeg");
  background-position: left;
  background-size: initial;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  height: 280px;
}
.prizepick_bonus2,
.prizepick_bonus3,
.prizepick_bonus4 {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  height: 280px;
  position: relative;
}
.hg_prize_picks_card.prizepick_bonus1,
.hg_prize_picks_card.prizepick_bonus2,
.hg_prize_picks_card.prizepick_bonus3,
.hg_prize_picks_card.prizepick_bonus4 {
  padding: 0 40px 0 0;
  margin-bottom: 20px;
  box-shadow: none;
}
.prizepick_bonus1 > .jgrtopll4-c,
.prizepick_bonus2 > .jgrtopll4-c,
.prizepick_bonus3 > .jgrtopll4-c,
.prizepick_bonus4 > .jgrtopll4-c {
  background: radial-gradient(circle at -1% 57.5%, #000 0, rgb(12 8 64) 90%);
  width: 480px;
  height: 280px;
  padding: 30px 15px;
  clip-path: polygon(0% 0%, 0% 0%, 80% 0%, 0% 350%);
}
.prizepick_bonus1 > .jgrtopll4-c > h2,
.prizepick_bonus2 > .jgrtopll4-c > h2,
.prizepick_bonus3 > .jgrtopll4-c > h2,
.prizepick_bonus4 > .jgrtopll4-c > h2 {
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  text-shadow: #069106 3px 3px 3px;
}
.prizepick_bonus1 > .jgrtopll4-c > p,
.prizepick_bonus2 > .jgrtopll4-c > p,
.prizepick_bonus3 > .jgrtopll4-c > p,
.prizepick_bonus4 > .jgrtopll4-c > p {
  color: #fff;
  height: 80px;
}
.prizepick_bonus2 {
  background-image: url("../images/prize-b-02.jpeg");
  background-position: center center;
}
.prizepick_bonus3 {
  background-image: url("../images/prize-b-03.jpeg");
  background-position: center center;
}
.prizepick_bonus4 {
  background-image: url("../images/prize-b-04.jpeg");
  background-position: right;
}
.prizepick_bonus1 .jgrtopll4-c > h2 > img,
.prizepick_bonus2 .jgrtopll4-c > h2 > img {
  width: 28px;
  position: absolute;
  top: 7px;
  left: -10px;
  margin: 0;
  display: none;
}
.prizepick_bonus3 .jgrtopll4-c > h2 > img {
  width: 28px;
  position: absolute;
  top: 7px;
  left: -10px;
  display: none;
  margin: 0;
}
.prizepick_bonus4 .jgrtopll4-c > h2 > img {
  width: 24px;
  position: absolute;
  top: 7px;
  left: -10px;
  margin: 0;
  display: none;
}
.prizepick_bonus1 > .jgrtopll4-c > h2,
.prizepick_bonus2 > .jgrtopll4-c > h2,
.prizepick_bonus3 > .jgrtopll4-c > h2,
.prizepick_bonus4 > .jgrtopll4-c > h2 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.footer_prizepicks {
  border-width: 1px;
  padding: 30px 15px 20px;
  text-align: center;
  position: relative;
  bottom: 0;
}
p.footer_prizepicks-p-a,
p.footer_prizepicks-p-note {
  font-size: 13px;
  font-weight: 400;
  color: #ebebeb;
  line-height: 24px;
  font-family: Montserrat, serif;
  margin: 20px 0px 5px 0px;
}
p.footer_prizepicks-p-a > a {
  color: #fff !important;
}
p.footer_prizepicks-copyright {
  color: #fff !important;
  font-size: 11px !important;
  letter-spacing: 0.2px;
  margin-top: 20px;
  font-weight: 500;
  font-family: Montserrat, serif;
  background: #040613;
  padding: 8px;
}
p.footer_prizepicks-copyright > a {
  color: #fff !important;
}
.footer_prizepicks-links > ul > li {
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 2px;
}
.footer_prizepicks-links > ul > li > a {
  font-family: Montserrat, serif;
  color: #fff;
  font-size: 14px;
  text-decoration: underline !important;
}
.footer_prizepicks-links li a:after {
  display: inline-block;
  padding: 0 0 0 0.5em;
  color: #fff;
  content: "|";
}
.footer_prizepicks-links li:last-child a:after {
  color: transparent;
}
.footer_prizepicks-links > ul{
  padding-left: 0px;
}
